.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-size: 200%;
}

.navbar-brand #markdown {
    font-family: 'Poiret One', cursive;
}

#text {
    font-family: 'Fredoka One', cursive;
}

.text-muted {
    text-align: center;
}

#github {
    font-size: 150%;
    color: #4078c0;
    float: right;
}

.footer {
    padding-top: 15px;
}

.container {
    margin: 0px;
    padding: 0px;
    width: 98%; !important
}

#source {
    padding: 10px;
}

#target {
    padding: 10px;
}
